*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
    line-height: 1.6;
}
header{
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
header .hero-pic{
    width: 180px;
    height: 181%;
    border-radius: 50%;
    border: 4px solid#fff;
    margin-bottom: 15px;
}
nav{
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li{
    margin: 15px;
}
nav a{
    text-decoration: none;
    color: #4f46e5;
    font-weight: bold;
    transition: color 0.3 ease;
}

nav a:hover{
    color: #9333ea;
}

section{
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
h2{
    color: #4f46e5;
    margin-bottom: 20px;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.card{
    background: #f9f9ff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2 ease;
}
.card:hover{
    transform: translateY(-5px);
}
footer{
    text-align: center;
    padding: 20px;background: #4f46e5;
    color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 40px;
}